body {
  font-family: 'Work Sans', sans-serif;
}

.core {
  height:80%;
  width: 60%; 
  padding: 15px 15px 15px 15px; 
  margin: 20% auto 20% auto; 
  display: block;
}

.top {
    position: fixed;
    width: 60%; 
    display:table-cell;
    height:50px;
    vertical-align:top;
    text-align:right;
}

.bottom {
    display:inline-block;
    margin:20px 0 0 0;
    font-size: 1em;
    font-weight: 200;
}

.button {
  display: inline-block; 
  height: 20px; 
  width: 250px; 
  padding: 10px; 
  margin:10px 0 0 0;
  background: #738CFF; 
  color: #FFFFFF; 
  border-radius: 100px 0px 100px 100px;
  text-align: center;
  font-size:0.8em;
  font-weight:600;
}

.button.hover {
    background-color: red;
}

.light-slogan {
  font-size: 1.5em;
  font-weight: 200;
}

.heavy-slogan {
  font-size: 1.5em;
  font-weight:300;
}

.logo {
    font-size: 2.5em;
    font-weight:900;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration:none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration:none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration:none;
}

/* selected link */
a:active {
    color: white;
    text-decoration:none;
}
