body {
  font-family: 'Work Sans', sans-serif;
  font-size: 150%;
}

/* core element */
.core {
  display: block;
  width: 90%;
  padding:15% 0;
  margin:auto;
}

/*signature*/
.top {
    display:inline-block;
    width: 90%;
    text-align:right;
}

/* value proposition */
.bottom {
    display:inline-block;
    width:80%;
    margin:10% 0 0 0;
    font-size: 100%;
    font-weight: 200;
}

/* dynamic button */
a:link, a:visited {
  display: inline-block; 
  padding: 10px 20px 10px 20px; 
  margin: 1% 0 0 0;
  background: #738CFF; 
  color: #FFFFFF; 
  border-radius: 100px 0px 100px 0px;
  text-align: center;
  font-size:80%;
  font-weight:600;
}

a:hover, a:active {
    background-color: red;
}

/* light slogan font */
.light-slogan {
  font-size: 125%;
  font-weight: 200;
}

/* heavy slogan font */
.heavy-slogan {
  font-size: 125%;
  font-weight:300;
}

/* logo font */
.logo {
    font-size: 250%;
    font-weight:900;
}

/* unvisited link */
a:link {
    text-decoration:none;
}

/* visited link */
a:visited {
    text-decoration:none;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}

/* selected link */
a:active {
    text-decoration:none;
}
