body {
  font-family: 'Work Sans', sans-serif;
}

/* core element */
.core {
  display: table-cell;
  text-align: center;
  padding: 15% 0% 15% 0%;
}

/*signature*/
.top {
    display:inline-block;
    width: 70%;
    text-align:right;
}

/* value proposition */
.bottom {
    display:inline-block;
    width:80%;
    margin:20px 0 0 0;
    text-align:right;
    font-size: 1em;
    font-weight: 200;
}

/* we highlight */
.vpbold {
  font-size:1em;
  font-weight:600;
}

/* dynamic button */
a:link, a:visited {
  display: inline-block; 
  padding: 10px; 
  margin:10px 0 0 0;
  background: #738CFF; 
  color: #FFFFFF; 
  border-radius: 100px 0px 100px 100px;
  text-align: center;
  font-size:0.8em;
  font-weight:600;
}

a:hover, a:active {
    background-color: red;
}

/* light slogan font */
.light-slogan {
  font-size: 1.5em;
  font-weight: 200;
}

/* heavy slogan font */
.heavy-slogan {
  font-size: 1.5em;
  font-weight:300;
}

/* logo font */
.logo {
    font-size: 2.5em;
    font-weight:900;
}

/* unvisited link */
a:link {
    text-decoration:none;
}

/* visited link */
a:visited {
    text-decoration:none;
}

/* mouse over link */
a:hover {
    text-decoration:none;
}

/* selected link */
a:active {
    text-decoration:none;
}
